.navigate {
    display: flex;
    color: #FFFFFF;
}

.navigate-link {
    color: #FFFFFF;
    font-size: 25px;
    padding: 20px 30px;
    text-decoration: none;
}

.active-link {
    color: red;
    font-size: 25px;
}